/*
    1- Style Loading Div .
    2- Style Animation .
*/

// 1- Style Loading Div .

.loading{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
        span{
            width: 10px;
            height: 20px;
            bottom: 0;
            position: absolute;
            display: block;
            background-color: var(--secondary-color);
            -webkit-animation:Audio 1s  infinite  linear;
            -moz-animation:Audio 1s  infinite  linear;
            -o-animation:Audio 1s  infinite  linear;
            animation:Audio 1s  infinite  linear;
            &:nth-of-type(2){
            left: 15px;
            -webkit-animation-delay: .2s;
            -moz-animation-delay: .2s;
            -o-animation-delay: .2s;
            animation-delay: .2s;
            }
            &:nth-of-type(3){
            left: 30px;
            -webkit-animation-delay: .4s;
            -moz-animation-delay: .4s;
            -o-animation-delay: .4s;
            animation-delay: .4s;
            }
            &:nth-of-type(4){
            left: 45px;
            -webkit-animation-delay: .6s;
            -moz-animation-delay: .6s;
            -o-animation-delay: .6s;
            animation-delay: .6s;
            }
            &:nth-of-type(5){
            left: 60px;
            -webkit-animation-delay: .8s;
            -moz-animation-delay: .8s;
            -o-animation-delay: .8s;
            animation-delay: .8s;
            }
        }

    // 2- Style Animation .
    @keyframes Audio{
            0% ,50%,100%
            {
                height: 20px;
                transform: translateY();
                background-color: var(--primary-color);
                box-shadow: 20px 0 3px rgba(0,0,0,0.2);
            }
            25%
            {
                height: 80px;
                transform: translateY(20px);
                background-color: var(--secondary-color);
                box-shadow: 20px 0 3px rgba(0,0,0,0.3);
            }
        }
}